USE [master]
GO
/****** Object:  Database [SWP391]    Script Date: 9/11/2023 3:59:53 AM ******/
CREATE DATABASE [SWP391]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP391', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SWP391.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP391_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SWP391_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP391].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP391]
GO
/****** Object:  Table [dbo].[AppUser]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUser](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](200) NULL,
	[password] [nvarchar](200) NULL,
	[email] [nvarchar](255) NULL,
	[number] [nvarchar](200) NULL,
	[role_id] [int] NULL,
	[image] [nvarchar](max) NULL,
	[fullName] [nvarchar](100) NULL,
	[gender] [nvarchar](10) NULL,
	[statusNow] [nvarchar](50) NULL,
	[school] [nvarchar](100) NULL,
	[favour] [nvarchar](100) NULL,
	[bio] [nvarchar](max) NULL,
 CONSTRAINT [PK__AppUser__3213E83FF445C707] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedBack_id] [uniqueidentifier] NOT NULL,
	[rated_star] [float] NULL,
	[feedback] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[product_id] [uniqueidentifier] NULL,
	[userId] [uniqueidentifier] NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[feedBack_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hint]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hint](
	[id] [int] NULL,
	[userid] [uniqueidentifier] NULL,
	[context] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NULL,
	[seller_id] [uniqueidentifier] NULL,
	[fullname] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[order_total] [decimal](10, 2) NULL,
	[order_date] [date] NULL,
	[order_town] [nvarchar](200) NULL,
	[order_location] [nvarchar](200) NULL,
	[status] [nvarchar](max) NULL,
	[stt] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__Customer__3213E83FFAA05241] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[id] [uniqueidentifier] NOT NULL,
	[order_id] [uniqueidentifier] NULL,
	[product_id] [uniqueidentifier] NULL,
	[quantity] [int] NULL,
	[price] [int] NOT NULL,
 CONSTRAINT [PK__OrderIte__3213E83FF2231EE5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[id] [uniqueidentifier] NOT NULL,
	[type] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductInfo]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInfo](
	[product_id] [uniqueidentifier] NOT NULL,
	[seller_id] [uniqueidentifier] NULL,
	[type_id] [uniqueidentifier] NULL,
	[product_name] [nvarchar](200) NULL,
	[product_image] [nvarchar](max) NOT NULL,
	[product_available] [int] NULL,
	[product_sales] [int] NULL,
	[product_price] [decimal](10, 0) NULL,
	[product_voucher] [decimal](10, 2) NULL,
	[product_description] [nvarchar](max) NULL,
 CONSTRAINT [PK__ProductI__3213E83F81EA1832] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[requestSetRole]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[requestSetRole](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[email] [nvarchar](255) NULL,
	[fullName] [nvarchar](200) NULL,
	[shopName] [nvarchar](200) NULL,
	[commoditiesSector] [nvarchar](200) NULL,
	[address] [nvarchar](200) NULL,
	[phone] [nvarchar](200) NULL,
	[status] [nvarchar](200) NULL,
 CONSTRAINT [PK__requestS__3213E83F718D8C48] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopComment]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopComment](
	[id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NULL,
	[commentor_id] [uniqueidentifier] NULL,
	[comment_content] [nvarchar](max) NULL,
	[comment_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopLike]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopLike](
	[id] [uniqueidentifier] NOT NULL,
	[product_id] [uniqueidentifier] NULL,
	[liker_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[cart_quantity] [int] NULL,
	[cart_total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCartItem]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCartItem](
	[id] [uniqueidentifier] NOT NULL,
	[cart_id] [uniqueidentifier] NULL,
	[product_id] [uniqueidentifier] NULL,
	[item_quantity] [int] NULL,
	[item_subtotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialComment]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialComment](
	[id] [uniqueidentifier] NOT NULL,
	[post_id] [uniqueidentifier] NULL,
	[commentor_id] [uniqueidentifier] NULL,
	[comment_content] [nvarchar](max) NULL,
	[comment_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialLike]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialLike](
	[id] [uniqueidentifier] NOT NULL,
	[post_id] [uniqueidentifier] NULL,
	[liker_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFollow]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFollow](
	[id] [uniqueidentifier] NOT NULL,
	[follower_id] [uniqueidentifier] NULL,
	[following_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMessage]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMessage](
	[id] [uniqueidentifier] NOT NULL,
	[sender_id] [uniqueidentifier] NULL,
	[receiver_id] [uniqueidentifier] NULL,
	[context] [nvarchar](max) NULL,
	[message_date] [datetime] NULL,
 CONSTRAINT [PK__UserMess__3213E83FF2A55861] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotification]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotification](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[notification_content] [nvarchar](max) NULL,
	[notification_date] [date] NULL,
	[link_notify] [varchar](255) NULL,
	[reacter] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPost]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPost](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[post_title] [nvarchar](200) NULL,
	[post_content] [nvarchar](max) NULL,
	[post_image] [nvarchar](255) NULL,
	[post_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 9/11/2023 3:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[id] [int] NOT NULL,
	[role] [nvarchar](200) NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AppUser] ([id], [name], [password], [email], [number], [role_id], [image], [fullName], [gender], [statusNow], [school], [favour], [bio]) VALUES (N'26162cd7-5f3e-4840-939b-215a0b99e293', N'admin', N'123456', N'admin@gmail.com', NULL, 1, N'https://static2.yan.vn/YanNews/2167221/202102/facebook-cap-nhat-avatar-doi-voi-tai-khoan-khong-su-dung-anh-dai-dien-e4abd14d.jpg', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[AppUser] ([id], [name], [password], [email], [number], [role_id], [image], [fullName], [gender], [statusNow], [school], [favour], [bio]) VALUES (N'41ed0e34-167b-4f00-9373-25ef1eae084c', N'vinh4', N'123456', N'vinh', N'02131231276', 3, N'SavedImages/Screenshot 2023-08-01 182140.png', N'Vinh4', N'Nam', N'Doc Than', N'Ngoai Ngu Uni', N'Play games and walk', N'PLEASE FOLLOW ME I WILL FOLLOW BACK. THANKS >3')
INSERT [dbo].[AppUser] ([id], [name], [password], [email], [number], [role_id], [image], [fullName], [gender], [statusNow], [school], [favour], [bio]) VALUES (N'8846073f-5dd6-4f6d-98f3-2ac57ef78ee9', N'vinh2', N'123456', N'a@gmail.com', N'02131231276', 3, N'SavedImages/Screenshot 2023-08-11 002210.png', N'Vinh2', N'Nam', N'Doc Than', N'FPT UNIVERSITY', N'Play Soccer', N'PLEASE FOLLOW ME I WILL FOLLOW BACK. THANKS >3')
GO
INSERT [dbo].[Feedback] ([feedBack_id], [rated_star], [feedback], [image], [status], [product_id], [userId], [date]) VALUES (N'8bbb0c7b-92fa-445a-bc56-5c486b3c8bd3', 1, N'normal', N'SavedImages/logo.png', 1, N'cd689f50-44b1-42a4-bc98-331a34a7ff00', N'6b5dc3de-ae4c-4547-b08b-5bf06a968d62', CAST(N'2023-11-09T03:55:30.147' AS DateTime))
INSERT [dbo].[Feedback] ([feedBack_id], [rated_star], [feedback], [image], [status], [product_id], [userId], [date]) VALUES (N'6082a102-eca2-4a0d-86a2-c7cd79de713e', 3, N'ok nha
', NULL, 1, N'a6b2fc75-ebac-47e9-9b26-b660dcb1548a', N'6b5dc3de-ae4c-4547-b08b-5bf06a968d62', CAST(N'2023-11-09T03:55:11.973' AS DateTime))
GO
INSERT [dbo].[Hint] ([id], [userid], [context]) VALUES (NULL, N'6b5dc3de-ae4c-4547-b08b-5bf06a968d62', N'cd689f50-44b1-42a4-bc98-331a34a7ff00')
INSERT [dbo].[Hint] ([id], [userid], [context]) VALUES (NULL, N'6b5dc3de-ae4c-4547-b08b-5bf06a968d62', N'a6b2fc75-ebac-47e9-9b26-b660dcb1548a')
INSERT [dbo].[Hint] ([id], [userid], [context]) VALUES (NULL, N'6b5dc3de-ae4c-4547-b08b-5bf06a968d62', N'5320f87e-f241-470f-8bf2-32458f1fe25b')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [customer_id], [seller_id], [fullname], [phone], [order_total], [order_date], [order_town], [order_location], [status], [stt]) VALUES (N'1ff8b8d6-878e-4bf8-9c78-aa9b8f3e220d', N'6b5dc3de-ae4c-4547-b08b-5bf06a968d62', N'92613d38-9204-4f7a-a1dc-40974f47c995', N'Quang Vinh', N'0918900356', CAST(45000.00 AS Decimal(10, 2)), CAST(N'2023-11-08' AS Date), N'hanoi', N'26 Cẩm lệ,Đà Nẵng', NULL, 11)
INSERT [dbo].[Order] ([id], [customer_id], [seller_id], [fullname], [phone], [order_total], [order_date], [order_town], [order_location], [status], [stt]) VALUES (N'f3d3f52c-efcc-41ce-a7af-b95f9dcf7641', N'6b5dc3de-ae4c-4547-b08b-5bf06a968d62', N'6b5dc3de-ae4c-4547-b08b-5bf06a968d62', N'Quang Vinh', N'0918900356', CAST(103000.00 AS Decimal(10, 2)), CAST(N'2023-11-08' AS Date), N'hanoi', N'26 Cẩm lệ,Đà Nẵng', N'Hoan thanh', 12)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDetail] ([id], [order_id], [product_id], [quantity], [price]) VALUES (N'cc283e4a-f761-4bef-9b0e-15745134d403', N'f3d3f52c-efcc-41ce-a7af-b95f9dcf7641', N'a6b2fc75-ebac-47e9-9b26-b660dcb1548a', 1, 10000)
INSERT [dbo].[OrderDetail] ([id], [order_id], [product_id], [quantity], [price]) VALUES (N'681d73d9-86d3-466e-92ad-21a01b7ec2d9', N'f3d3f52c-efcc-41ce-a7af-b95f9dcf7641', N'cd689f50-44b1-42a4-bc98-331a34a7ff00', 1, 58000)
INSERT [dbo].[OrderDetail] ([id], [order_id], [product_id], [quantity], [price]) VALUES (N'4a9401da-f726-430b-a6d5-a165383a70f1', N'1ff8b8d6-878e-4bf8-9c78-aa9b8f3e220d', N'2743807c-3ed0-4b6b-a30f-5512fa6b5a64', 1, 10000)
GO
INSERT [dbo].[ProductCategory] ([id], [type]) VALUES (N'32de7141-e052-4591-a103-2f5f544e01e0', N'Bách hoá online')
INSERT [dbo].[ProductCategory] ([id], [type]) VALUES (N'467e803a-426e-441d-8db8-669ae23a3469', N'Điện thoại & Phụ kiện')
INSERT [dbo].[ProductCategory] ([id], [type]) VALUES (N'eecbd3f1-134e-43b0-a3e1-700edb72a6a4', N'Mỹ phẩm')
GO
INSERT [dbo].[ProductInfo] ([product_id], [seller_id], [type_id], [product_name], [product_image], [product_available], [product_sales], [product_price], [product_voucher], [product_description]) VALUES (N'823d6d83-0048-4255-9f9a-1644227346cb', N'301b32cd-5b1b-4b35-b80a-50b2281893e8', N'467e803a-426e-441d-8db8-669ae23a3469', N'Di động vàng', N'SavedImages/images.jfif', 100, NULL, CAST(10000 AS Decimal(10, 0)), NULL, N'Di động vàng')
INSERT [dbo].[ProductInfo] ([product_id], [seller_id], [type_id], [product_name], [product_image], [product_available], [product_sales], [product_price], [product_voucher], [product_description]) VALUES (N'ef279cc2-6e08-4471-b719-244023283d5f', N'8846073f-5dd6-4f6d-98f3-2ac57ef78ee9', N'eecbd3f1-134e-43b0-a3e1-700edb72a6a4', N'Dầu Gội Bưởi Cocoon 500Ml', N'SavedImages/3028208_cab7887b39f9448f8b9673295d63d771_grande.webp', 1000, NULL, CAST(20000 AS Decimal(10, 0)), NULL, N'Dầu Gội Bưởi Cocoon 500Ml')
GO
INSERT [dbo].[requestSetRole] ([id], [user_id], [email], [fullName], [shopName], [commoditiesSector], [address], [phone], [status]) VALUES (N'ac6cae7e-a947-4920-944b-464b51efeb52', N'8846073f-5dd6-4f6d-98f3-2ac57ef78ee9', N'a@gmail.com', N'Quang Vinh', N'Mỹ phẩm LyLy', N'EECBD3F1-134E-43B0-A3E1-700EDB72A6A4', N'Cam le', N'0918900356', N'OK')
INSERT [dbo].[requestSetRole] ([id], [user_id], [email], [fullName], [shopName], [commoditiesSector], [address], [phone], [status]) VALUES (N'feac54f5-e8ec-4148-aeef-5d98928d645e', N'41ed0e34-167b-4f00-9373-25ef1eae084c', N'vinh', N'Quang Vinh', N'Máy Tính Vinh', N'C9C33AEB-38F4-44A0-89B5-860BA5AE8C23', N'26 Cẩm lệ,Đà Nẵng', N'0918900356', N'OK')
INSERT [dbo].[requestSetRole] ([id], [user_id], [email], [fullName], [shopName], [commoditiesSector], [address], [phone], [status]) VALUES (N'a45b5dfa-84c4-46e3-984a-6bbc3ff91232', N'301b32cd-5b1b-4b35-b80a-50b2281893e8', N'a@gmail.com', N'Quang Vinh', N'Di động Vàng', N'467E803A-426E-441D-8DB8-669AE23A3469', N'26 Cẩm lệ,Đà Nẵng', N'0918900356', N'OK')
GO
INSERT [dbo].[ShoppingCart] ([id], [user_id], [cart_quantity], [cart_total]) VALUES (N'b8bfb920-2b3b-4b27-98d0-3a1b47df9407', N'6b5dc3de-ae4c-4547-b08b-5bf06a968d62', NULL, NULL)
GO
INSERT [dbo].[ShoppingCartItem] ([id], [cart_id], [product_id], [item_quantity], [item_subtotal]) VALUES (N'1ef22f03-842f-4ea8-bd1c-c444bf6cc86f', N'b8bfb920-2b3b-4b27-98d0-3a1b47df9407', N'5320f87e-f241-470f-8bf2-32458f1fe25b', 1, NULL)
GO
INSERT [dbo].[SocialComment] ([id], [post_id], [commentor_id], [comment_content], [comment_date]) VALUES (N'347325da-8424-41cf-9104-4586e91d1dc4', N'31bb66c9-ec3a-493b-8c61-27d7ee5981ae', N'8846073f-5dd6-4f6d-98f3-2ac57ef78ee9', N'Good', CAST(N'2023-11-09T00:00:00.000' AS DateTime))
INSERT [dbo].[SocialComment] ([id], [post_id], [commentor_id], [comment_content], [comment_date]) VALUES (N'ebdd51af-2041-4f42-bc55-b4374a18952d', N'ecabcb54-fc9e-48b5-85c8-b8bdb6b96436', N'8846073f-5dd6-4f6d-98f3-2ac57ef78ee9', N'hi Crocodile', CAST(N'2023-11-09T00:00:00.000' AS DateTime))
INSERT [dbo].[SocialComment] ([id], [post_id], [commentor_id], [comment_content], [comment_date]) VALUES (N'b5c3cf9f-bae6-4b58-b9b8-ba811f066d31', N'3d4c224f-0609-45db-afd5-fcb2aa13719d', N'73f72978-bb21-4d6f-a3c3-5860d4fec10b', N'good', CAST(N'2023-11-09T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[SocialLike] ([id], [post_id], [liker_id]) VALUES (N'71a74ae5-1807-4c89-802b-1180aa295b26', N'ecabcb54-fc9e-48b5-85c8-b8bdb6b96436', N'8846073f-5dd6-4f6d-98f3-2ac57ef78ee9')
INSERT [dbo].[SocialLike] ([id], [post_id], [liker_id]) VALUES (N'2fb9ba87-0c9a-4dcb-b315-1951e6715838', N'3d4c224f-0609-45db-afd5-fcb2aa13719d', N'73f72978-bb21-4d6f-a3c3-5860d4fec10b')
INSERT [dbo].[SocialLike] ([id], [post_id], [liker_id]) VALUES (N'230cbad1-4b8c-44df-86d9-2fdb4229c7b6', N'c89cd861-4262-4c4e-9b2f-cfaca7c8c919', N'6b5dc3de-ae4c-4547-b08b-5bf06a968d62')
GO
INSERT [dbo].[UserFollow] ([id], [follower_id], [following_id]) VALUES (N'beaba8f4-d6d7-4d42-9000-0978914e5e1b', N'73f72978-bb21-4d6f-a3c3-5860d4fec10b', N'8846073f-5dd6-4f6d-98f3-2ac57ef78ee9')
INSERT [dbo].[UserFollow] ([id], [follower_id], [following_id]) VALUES (N'19442639-507c-42e3-a16e-15a4eff628b2', N'8846073f-5dd6-4f6d-98f3-2ac57ef78ee9', N'41ed0e34-167b-4f00-9373-25ef1eae084c')
INSERT [dbo].[UserFollow] ([id], [follower_id], [following_id]) VALUES (N'e79a9409-a388-42d1-81b2-1688f781cfd0', N'41ed0e34-167b-4f00-9373-25ef1eae084c', N'8846073f-5dd6-4f6d-98f3-2ac57ef78ee9')
GO
INSERT [dbo].[UserMessage] ([id], [sender_id], [receiver_id], [context], [message_date]) VALUES (N'f54f6407-61c9-4eac-9b42-090d5800f5b5', N'73f72978-bb21-4d6f-a3c3-5860d4fec10b', N'301b32cd-5b1b-4b35-b80a-50b2281893e8', N'hello vinh 1', CAST(N'2023-11-09T02:07:51.943' AS DateTime))
INSERT [dbo].[UserMessage] ([id], [sender_id], [receiver_id], [context], [message_date]) VALUES (N'671834f7-2f69-464c-a9cf-ac62fa4ef367', N'73f72978-bb21-4d6f-a3c3-5860d4fec10b', N'92613d38-9204-4f7a-a1dc-40974f47c995', N'hello', CAST(N'2023-11-09T02:07:34.653' AS DateTime))
GO
INSERT [dbo].[UserNotification] ([id], [user_id], [notification_content], [notification_date], [link_notify], [reacter]) VALUES (N'18208aa9-2e6c-4bf7-b2b7-03f33c6aa267', N'41ed0e34-167b-4f00-9373-25ef1eae084c', N'Vinh4 đã theo dõi bạn ngày hôm nay', CAST(N'2023-11-09' AS Date), N'UserProfileSocial?user_id=41ED0E34-167B-4F00-9373-25EF1EAE084C', N'SavedImages/Screenshot 2023-08-01 182140.png')
INSERT [dbo].[UserNotification] ([id], [user_id], [notification_content], [notification_date], [link_notify], [reacter]) VALUES (N'd50799ef-706a-4f6b-a207-05b50af3d56d', N'8846073f-5dd6-4f6d-98f3-2ac57ef78ee9', N'Vinh3 đã theo dõi bạn ngày hôm nay', CAST(N'2023-11-09' AS Date), N'UserProfileSocial?user_id=73F72978-BB21-4D6F-A3C3-5860D4FEC10B', N'https://static2.yan.vn/YanNews/2167221/202102/facebook-cap-nhat-avatar-doi-voi-tai-khoan-khong-su-dung-anh-dai-dien-e4abd14d.jpg')
INSERT [dbo].[UserNotification] ([id], [user_id], [notification_content], [notification_date], [link_notify], [reacter]) VALUES (N'ca4de6be-4c44-4fab-ba3c-0bafbaf1a35f', NULL, N'Vinh Phai đã yêu thích bài viết của bạn', CAST(N'2023-11-09' AS Date), N'PostDetail?post_id=ECABCB54-FC9E-48B5-85C8-B8BDB6B96436&fullName=null&user_id=null', N'SavedImages/Screenshot 2023-08-11 000906.png')
GO
INSERT [dbo].[UserPost] ([id], [user_id], [post_title], [post_content], [post_image], [post_date]) VALUES (N'31bb66c9-ec3a-493b-8c61-27d7ee5981ae', N'8846073f-5dd6-4f6d-98f3-2ac57ef78ee9', NULL, N'This is my winform                                            
                                        ', N'SavedImages/Screenshot 2023-10-30 233121.png', CAST(N'2023-11-09' AS Date))
INSERT [dbo].[UserPost] ([id], [user_id], [post_title], [post_content], [post_image], [post_date]) VALUES (N'f203e28d-4926-440f-9363-2ea4d94fbcdc', N'6b5dc3de-ae4c-4547-b08b-5bf06a968d62', NULL, N'This is Gau Gau                                            
                                        ', N'SavedImages/Screenshot 2023-08-11 000906.png', CAST(N'2023-11-09' AS Date))
INSERT [dbo].[UserPost] ([id], [user_id], [post_title], [post_content], [post_image], [post_date]) VALUES (N'4d6eb7c9-4a90-43a8-8fb9-8489035e09a7', N'41ed0e34-167b-4f00-9373-25ef1eae084c', NULL, N'This is  my content. Please follow me                                         
                                        ', N'SavedImages/Screenshot 2023-11-01 224955.png', CAST(N'2023-11-09' AS Date))
GO
INSERT [dbo].[UserRole] ([id], [role]) VALUES (1, N'admin')
INSERT [dbo].[UserRole] ([id], [role]) VALUES (2, N'User ')
INSERT [dbo].[UserRole] ([id], [role]) VALUES (3, N'Seller ')
GO
ALTER TABLE [dbo].[AppUser] ADD  CONSTRAINT [DF__AppUser__id__276EDEB3]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF_Feedback_feedBack_id]  DEFAULT (newid()) FOR [feedBack_id]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF_Feedback_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF__CustomerOrde__id__45F365D3]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  CONSTRAINT [DF__OrderItemInf__id__46E78A0C]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ProductInfo] ADD  CONSTRAINT [DF__ProductInfo__id__5CD6CB2B]  DEFAULT (newid()) FOR [product_id]
GO
ALTER TABLE [dbo].[requestSetRole] ADD  CONSTRAINT [DF__requestSetRo__id__5DCAEF64]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ShopComment] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ShopComment] ADD  DEFAULT (getdate()) FOR [comment_date]
GO
ALTER TABLE [dbo].[ShopLike] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ShoppingCart] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ShoppingCartItem] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[SocialComment] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[SocialComment] ADD  DEFAULT (getdate()) FOR [comment_date]
GO
ALTER TABLE [dbo].[SocialLike] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[UserFollow] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[UserMessage] ADD  CONSTRAINT [DF__UserMessage__id__5441852A]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[UserMessage] ADD  CONSTRAINT [DF__UserMessa__messa__5535A963]  DEFAULT (getdate()) FOR [message_date]
GO
ALTER TABLE [dbo].[UserNotification] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[UserNotification] ADD  DEFAULT (getdate()) FOR [notification_date]
GO
ALTER TABLE [dbo].[UserPost] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD  CONSTRAINT [FK_AppUser_UserRole] FOREIGN KEY([role_id])
REFERENCES [dbo].[UserRole] ([id])
GO
ALTER TABLE [dbo].[AppUser] CHECK CONSTRAINT [FK_AppUser_UserRole]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__CustomerO__custo__3E52440B] FOREIGN KEY([customer_id])
REFERENCES [dbo].[AppUser] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__CustomerO__custo__3E52440B]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Order] FOREIGN KEY([id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__order__5BE2A6F2] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderItem__order__5BE2A6F2]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__produ__6FE99F9F] FOREIGN KEY([product_id])
REFERENCES [dbo].[ProductInfo] ([product_id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderItem__produ__6FE99F9F]
GO
ALTER TABLE [dbo].[ProductInfo]  WITH CHECK ADD  CONSTRAINT [FK__ProductIn__selle__2F10007B] FOREIGN KEY([seller_id])
REFERENCES [dbo].[AppUser] ([id])
GO
ALTER TABLE [dbo].[ProductInfo] CHECK CONSTRAINT [FK__ProductIn__selle__2F10007B]
GO
ALTER TABLE [dbo].[ProductInfo]  WITH CHECK ADD  CONSTRAINT [FK__ProductIn__type___71D1E811] FOREIGN KEY([type_id])
REFERENCES [dbo].[ProductCategory] ([id])
GO
ALTER TABLE [dbo].[ProductInfo] CHECK CONSTRAINT [FK__ProductIn__type___71D1E811]
GO
ALTER TABLE [dbo].[requestSetRole]  WITH CHECK ADD  CONSTRAINT [FK_requestSetRole_AppUser] FOREIGN KEY([user_id])
REFERENCES [dbo].[AppUser] ([id])
GO
ALTER TABLE [dbo].[requestSetRole] CHECK CONSTRAINT [FK_requestSetRole_AppUser]
GO
ALTER TABLE [dbo].[ShopComment]  WITH CHECK ADD  CONSTRAINT [FK__ShopComme__comme__5812160E] FOREIGN KEY([commentor_id])
REFERENCES [dbo].[AppUser] ([id])
GO
ALTER TABLE [dbo].[ShopComment] CHECK CONSTRAINT [FK__ShopComme__comme__5812160E]
GO
ALTER TABLE [dbo].[ShopComment]  WITH CHECK ADD  CONSTRAINT [FK__ShopComme__produ__74AE54BC] FOREIGN KEY([product_id])
REFERENCES [dbo].[ProductInfo] ([product_id])
GO
ALTER TABLE [dbo].[ShopComment] CHECK CONSTRAINT [FK__ShopComme__produ__74AE54BC]
GO
ALTER TABLE [dbo].[ShopLike]  WITH CHECK ADD  CONSTRAINT [FK__ShopLike__liker___5CD6CB2B] FOREIGN KEY([liker_id])
REFERENCES [dbo].[AppUser] ([id])
GO
ALTER TABLE [dbo].[ShopLike] CHECK CONSTRAINT [FK__ShopLike__liker___5CD6CB2B]
GO
ALTER TABLE [dbo].[ShopLike]  WITH CHECK ADD  CONSTRAINT [FK__ShopLike__produc__76969D2E] FOREIGN KEY([product_id])
REFERENCES [dbo].[ProductInfo] ([product_id])
GO
ALTER TABLE [dbo].[ShopLike] CHECK CONSTRAINT [FK__ShopLike__produc__76969D2E]
GO
ALTER TABLE [dbo].[ShoppingCartItem]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[ShoppingCart] ([id])
GO
ALTER TABLE [dbo].[ShoppingCartItem]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[ShoppingCart] ([id])
GO
ALTER TABLE [dbo].[ShoppingCartItem]  WITH CHECK ADD  CONSTRAINT [FK__ShoppingC__produ__787EE5A0] FOREIGN KEY([product_id])
REFERENCES [dbo].[ProductInfo] ([product_id])
GO
ALTER TABLE [dbo].[ShoppingCartItem] CHECK CONSTRAINT [FK__ShoppingC__produ__787EE5A0]
GO
ALTER TABLE [dbo].[SocialComment]  WITH CHECK ADD  CONSTRAINT [FK__SocialCom__comme__4D94879B] FOREIGN KEY([commentor_id])
REFERENCES [dbo].[AppUser] ([id])
GO
ALTER TABLE [dbo].[SocialComment] CHECK CONSTRAINT [FK__SocialCom__comme__4D94879B]
GO
ALTER TABLE [dbo].[SocialComment]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[UserPost] ([id])
GO
ALTER TABLE [dbo].[SocialComment]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[UserPost] ([id])
GO
ALTER TABLE [dbo].[SocialLike]  WITH CHECK ADD  CONSTRAINT [FK__SocialLik__liker__52593CB8] FOREIGN KEY([liker_id])
REFERENCES [dbo].[AppUser] ([id])
GO
ALTER TABLE [dbo].[SocialLike] CHECK CONSTRAINT [FK__SocialLik__liker__52593CB8]
GO
ALTER TABLE [dbo].[SocialLike]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[UserPost] ([id])
GO
ALTER TABLE [dbo].[SocialLike]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[UserPost] ([id])
GO
ALTER TABLE [dbo].[UserFollow]  WITH CHECK ADD  CONSTRAINT [FK__UserFollo__follo__60A75C0F] FOREIGN KEY([follower_id])
REFERENCES [dbo].[AppUser] ([id])
GO
ALTER TABLE [dbo].[UserFollow] CHECK CONSTRAINT [FK__UserFollo__follo__60A75C0F]
GO
ALTER TABLE [dbo].[UserFollow]  WITH CHECK ADD  CONSTRAINT [FK__UserFollo__follo__619B8048] FOREIGN KEY([following_id])
REFERENCES [dbo].[AppUser] ([id])
GO
ALTER TABLE [dbo].[UserFollow] CHECK CONSTRAINT [FK__UserFollo__follo__619B8048]
GO
ALTER TABLE [dbo].[UserMessage]  WITH CHECK ADD  CONSTRAINT [FK__UserMessa__recei__6C190EBB] FOREIGN KEY([receiver_id])
REFERENCES [dbo].[AppUser] ([id])
GO
ALTER TABLE [dbo].[UserMessage] CHECK CONSTRAINT [FK__UserMessa__recei__6C190EBB]
GO
ALTER TABLE [dbo].[UserMessage]  WITH CHECK ADD  CONSTRAINT [FK__UserMessa__sende__6B24EA82] FOREIGN KEY([sender_id])
REFERENCES [dbo].[AppUser] ([id])
GO
ALTER TABLE [dbo].[UserMessage] CHECK CONSTRAINT [FK__UserMessa__sende__6B24EA82]
GO
ALTER TABLE [dbo].[UserNotification]  WITH CHECK ADD  CONSTRAINT [FK__UserNotif__user___66603565] FOREIGN KEY([user_id])
REFERENCES [dbo].[AppUser] ([id])
GO
ALTER TABLE [dbo].[UserNotification] CHECK CONSTRAINT [FK__UserNotif__user___66603565]
GO
ALTER TABLE [dbo].[UserPost]  WITH CHECK ADD  CONSTRAINT [FK__UserPost__user_i__47DBAE45] FOREIGN KEY([user_id])
REFERENCES [dbo].[AppUser] ([id])
GO
ALTER TABLE [dbo].[UserPost] CHECK CONSTRAINT [FK__UserPost__user_i__47DBAE45]
GO
USE [master]
GO
