<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ShoppingControl</servlet-name>
        <servlet-class>Controller.ShoppingControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>Controller.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>Controller.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreControl</servlet-name>
        <servlet-class>Controller.LoadMoreControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managecategory</servlet-name>
        <servlet-class>Controller.managecategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOfShopControl</servlet-name>
        <servlet-class>Controller.SearchOfShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetRole</servlet-name>
        <servlet-class>Controller.SetRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatesanpham</servlet-name>
        <servlet-class>Controller.updatesanpham</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>addtocart</servlet-name>
        <servlet-class>Controller.addtocart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl1</servlet-name>
        <servlet-class>Controller.DetailControl1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>Controller.cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thanhtoan</servlet-name>
        <servlet-class>Controller.thanhtoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>muahang</servlet-name>
        <servlet-class>Controller.muahang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xemdonhang</servlet-name>
        <servlet-class>Controller.xemdonhang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quanlidonhang</servlet-name>
        <servlet-class>Controller.quanlidonhang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xacnhandon</servlet-name>
        <servlet-class>Controller.xacnhandon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XemDonHangDangChoVanChuyen</servlet-name>
        <servlet-class>Controller.XemDonHangDangChoVanChuyen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taotaikhoanshipper</servlet-name>
        <servlet-class>Controller.taotaikhoanshipper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shipper</servlet-name>
        <servlet-class>Controller.Shipper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperComplete</servlet-name>
        <servlet-class>Controller.ShipperComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xemdonhangdanggiao</servlet-name>
        <servlet-class>Controller.xemdonhangdanggiao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xemdonhanghoanthanh</servlet-name>
        <servlet-class>Controller.xemdonhanghoanthanh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xemdonhangchovanchuyen</servlet-name>
        <servlet-class>Controller.xemdonhangchovanchuyen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xemdonhangdahuy</servlet-name>
        <servlet-class>Controller.xemdonhangdahuy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingControl</servlet-name>
        <url-pattern>/shopping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/categorytype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreControl</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managecategory</servlet-name>
        <url-pattern>/managecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOfShopControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetRole</servlet-name>
        <url-pattern>/SetRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatesanpham</servlet-name>
        <url-pattern>/updatesanpham</url-pattern>
    </servlet-mapping>
    =
    
    <servlet-mapping>
        <servlet-name>addtocart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl1</servlet-name>
        <url-pattern>/DetailControl1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thanhtoan</servlet-name>
        <url-pattern>/thanhtoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>muahang</servlet-name>
        <url-pattern>/muahang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xemdonhang</servlet-name>
        <url-pattern>/xemdonhang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quanlidonhang</servlet-name>
        <url-pattern>/quanlidonhang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xacnhandon</servlet-name>
        <url-pattern>/xacnhandon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XemDonHangDangChoVanChuyen</servlet-name>
        <url-pattern>/XemDonHangDangChoVanChuyen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taotaikhoanshipper</servlet-name>
        <url-pattern>/taotaikhoanshipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shipper</servlet-name>
        <url-pattern>/Shipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperComplete</servlet-name>
        <url-pattern>/ShipperComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xemdonhangdanggiao</servlet-name>
        <url-pattern>/xemdonhangdanggiao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xemdonhanghoanthanh</servlet-name>
        <url-pattern>/xemdonhanghoanthanh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xemdonhangchovanchuyen</servlet-name>
        <url-pattern>/xemdonhangchovanchuyen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xemdonhangdahuy</servlet-name>
        <url-pattern>/xemdonhangdahuy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
